$main-color: rgb(219,0,0);
$bcknd-clr: rgba(0,0,0,.7);
$white: rgb(255,255,255);
$black: rgb(0,0,0);
$main-bck: rgb(10,10,10);
$grey: rgb(145,145,145);

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: arial;
  height: 100%;
  color: $grey;
}

body {

  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url('../img/site/background.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100%;
}

//header {
//  padding: 20px 0 0 50px;
//}



footer {
  //position: relative;



  bottom: 0;
  background-color: rgba(0,0,0,.7);
  padding: 30px;


  //margin-top: 100px;
}

footer  {
  p{
    margin-top: 0;
    color: $grey;

  }
  a{
    font-size: 0.7em;
    color: $grey;
    text-decoration: none;
    margin-right: 50px;
    :hover{
      text-decoration: underline;
    }
  }
}

a {
  color: $black;
  text-decoration: none;
  :hover {
    text-decoration: underline;
  }
}


h1 {
  font-size: 2em;
  margin: 0 0 30px 0;
  color: $white;
}
//FORM

.form {
  background-color: $white;
  margin: 3rem 0 ;
  border-radius: 5px;
  padding: 20px;
}
.form-error {
  color: #E50914;
}
input[type="email"], input[type="password"], input[type="text"] {
  padding: 15px;
  width: 100%;
  font-size: 1em;
  border: 0;
  border-radius: 5px;
  color: #b3b3b3;
  background-color: #333333;
  margin-bottom: 15px;
}


//
button {
  background-color: #E50914;
  color: white;
  padding: 15px;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

#option {
  color: #b3b3b3;
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-size: 0.9em;

}

#login-body {
  max-width: 450px;
  margin: auto;
  background-color: rgba(0,0,0,.75);
  color: white;
  border-radius: 5px;
  padding: 50px;
  margin-top: 50px;
}

.grey {
  color: #777;
  a {
    color: $white;
  }
}

.alert {
  padding: 10px;
  margin: 30px 0;
  color: white;
  border-radius: 5px;
}

//Alert
.success {
  background-color: green;
}

.error {
  background-color: red;
}
//
.container {
  width: 1000px;
  margin: 0 auto;
}

@media all and (max-width: 1030px) {
  .container { width: 800px; }
}

@media all and (max-width: 830px) {
  .container { width: 580px; }
  //header { text-align: center; padding-left: 20px; }
}


//Navbar
//header{
//  background-color: rgba(0,0,0,.7);
//  padding: 30px;
//  //margin-bottom: 100px;
//
//  background-size:cover;


//  display:flex;
//  flex-direction:column;
//  nav{
//    color:$white;


//    display:flex;
//    align-items:center;
//    #logo{
//      width:6.5em;
//      margin-right:2em;
//    }
//    .left-menu{
//      display:flex;
//      align-items:baseline;
//      p, a{
//        font-size: 18px;
//        color: $white;
//        text-decoration: none;
//        cursor:pointer;
//        margin:0 1em;
//        &:hover{
//          color:$main-color;
//        }
//      }
//      i{
//        text-decoration: none;
//      }
//    }
//    .right-menu{
//      display:flex;
//      justify-content:space-between;
//      align-items:center;
//      margin-left:auto;
//      h5{
//        cursor:pointer;
//        &:hover{
//          color:$main-color;
//        }
//      }
//      .fa-search{
//        margin-right:.50em;
//      }
//      .user{
//        display:flex;
//        align-items:center;
//        margin:0 19px 15px;
//        img{
//          width:3em;
//          height:3em;
//          margin-right:1em;
//        }
//      }
//      .logout i{
//        color: $white;
//        margin-left: 10px;
//        &:hover{
//          color:$main-color;
//          text-decoration: none;
//
//        }
//      }
//    }
//  }
//}

.header {
    padding: 10px;
    margin-bottom: 10px;
  position: relative;
  //width: 100%;
  z-index: 3;
    background-size:cover;

      color:$white;
    li{
      padding: 0px 10px;
    }
    a , li {
      &:hover{
        color:$main-color;
        }
      }

    img{
      width:3em;
      height:3em;
      //margin-right:1em;
      }
    .logout i{
      color: $white;
      margin-left: 10px;
        &:hover{
          color:$main-color;
          text-decoration: none;
              }
      }
  .user, .user h4{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    //justify-content: space-between;
  }
  h4{
    &:hover{
      color:$main-color;
    }
  }


  /*display: flex;*/
  /*justify-content: space-between;*/
  /*align-items: center;*/
  /*flex-direction: row;*/
  /*padding: 10px;*/
}

/*#brand{*/
/*    width: 20%;*/
/*}*/
//.header img{
//  width: 50%;
//}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.header li a {
  display: block;
  //padding: 20px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: rgba(0, 0, 0, 0.10);
}
.header .logo {
  color: #fff;
  display: block;
  float: left;
  font-size: 1.5em;
  padding: 12px 20px;
  text-decoration: none;
}
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 340px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* Responsive */
@media only screen and (max-width: 768px){
  .header ul{
    background-color: #fff;
  }
  .header li a {
    padding: 15px;
    border-bottom: 1px dotted #ddd;

  }
}

@media only screen and (min-width: 768px) {
  .menu-wrapper{
    //height: 55px;
    line-height: 55px;
    width: 100%;
  }
  .header li {
    float: left;
  }
  .header .logo{
    line-height: 1;
  }
  .header li a {
    color: #fff;
    //padding: 0px 30px;
    //border-right: 1px solid rgba(255, 255, 255, 0.2);

  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}


//Home page
main{
  background:$main-bck;
  padding:0.60em 1em 2em;
  section{
    flex-grow: 1;
    padding-bottom:1em;
    min-height: auto;
    h3{
      margin:0;
      font-weight:200;
      color:$white;
      font-size:.98em;
    }
    .multiple-items{
      position:relative;
      margin:1em 0;
      .fa-chevron-left{
        cursor:pointer;
        font-size:1.2em;
        color:$main-color;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        z-index:100;
        width:40px;
        background:linear-gradient(to right, rgba($black,.9),rgba($black,.8));
        display:flex;
        justify-content:center;
        align-items:center;
      }
      .fa-chevron-right{
        cursor:pointer;
        color:$main-color;
        position:absolute;
        right:0;
        top:0;
        bottom:0;
        z-index:100;
        width:40px;
        background:linear-gradient(to right, rgba($black,.9),rgba($black,.8));
        display:flex;
        justify-content:center;
        align-items:center;
      }
      img{
        margin:0 .15em;
        &:focus{
          outline-color:$main-color;
        }
      }
    }
    .tv-shows{
      position:relative;
      .fa-chevron-left{
        cursor:pointer;
        font-size:1.2em;
        color:$main-color;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        z-index:100;
        width:40px;
        background:linear-gradient(to right, rgba($black,.9),rgba($black,.8));
        display:flex;
        justify-content:center;
        align-items:center;
      }
      .fa-chevron-right{
        cursor:pointer;
        color:$main-color;
        position:absolute;
        right:0;
        top:0;
        bottom:0;
        z-index:100;
        width:40px;
        background:linear-gradient(to right, rgba($black,.9),rgba($black,.8));
        display:flex;
        justify-content:center;
        align-items:center;
      }
      img{
        height:17em;
        margin:.50em .10em;
        &:focus{
          outline-color:$main-color;
        }
      }
    }
  }
}
.thumbnail {
  height: 142px;
  width: 252px;
}

//MovieView page

.description{
  color: $grey;
}

span{
  font-size: 1.5rem;
}
.red-star {
  color: $main-color;
}
.grey-star {
  color: $grey;
}

.infos{
    margin-bottom: 0;
    font-size: 1.2rem;
    color: $grey;
}

iframe {
  position: relative;
  height: 100%; width: 100%;
}

.category{
  border: solid;
  border-radius: 5px;
  padding: 2px;
}

//ErrorPage
.backlink{
  color: $white;
    text-decoration: none;
    cursor:pointer;
    margin:0 1em;
    &:hover{
      color:$main-color;
      text-decoration: none;

    }

}

//List page
.img-list img{
  max-width: 200px;
  max-height: 142px;
}

//Search page
/* Anim loader */

.loader {
  position: absolute;
  //top: 250px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.point {
  margin: 0px 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #f1f1f1;
  animation: monte 0.3s alternate infinite;
}
.point:nth-child(1) {
  animation-delay: 0.1s;
}
.point:nth-child(2) {
  animation-delay: 0.2s;
}
.point:nth-child(3) {
  animation-delay: 0.3s;
}
@keyframes monte {
  100% {
    transform: translateY(-30px);
  }
}
//
//#result{
//
//      &:hover{
//      color:$main-color;
//        h5{
//          text-decoration: none;
//        }
//      }
//
//}
