$main-color: rgb(219,0,0);
$bcknd-clr: rgba(0,0,0,.7);
$white: rgb(255,255,255);
$black: rgb(0,0,0);
$main-bck: rgb(10,10,10);
$grey: rgb(145,145,145);

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: arial;
  height: 100%;
  color: $grey;
}

body {

  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url('../img/site/background.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100%;
}

//header {
//  padding: 20px 0 0 50px;
//}

footer {
  //position: relative;



  bottom: 0;
  background-color: rgba(0,0,0,.7);
  padding: 30px;


  //margin-top: 100px;
}

footer  {
  p{
    margin-top: 0;
    color: $grey;

  }
  a{
    font-size: 0.7em;
    color: $grey;
    text-decoration: none;
    margin-right: 50px;
    :hover{
      text-decoration: underline;
    }
  }
}

a {
  color: $black;
  text-decoration: none;
  :hover {
    text-decoration: underline;
  }
}

section {
  flex-grow: 1;
}

h1 {
  font-size: 2em;
  margin: 0 0 30px 0;
  color: $white;
}
//FORM

.form {
  background-color: $white;
  margin: 3rem 0 ;
  border-radius: 5px;
  padding: 20px;
}
.form-error {
  color: #E50914;
}
input[type="email"], input[type="password"], input[type="text"] {
  padding: 15px;
  width: 100%;
  font-size: 1em;
  border: 0;
  border-radius: 5px;
  color: #b3b3b3;
  background-color: #333333;
  margin-bottom: 15px;
}


//
//button {
//  background-color: #E50914;
//  color: white;
//  padding: 15px;
//  width: 100%;
//  font-size: 1em;
//  font-weight: bold;
//  border-radius: 5px;
//  border: 0;
//  cursor: pointer;
//}

#option {
  color: #b3b3b3;
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-size: 0.9em;

}

#login-body {
  max-width: 450px;
  margin: auto;
  background-color: rgba(0,0,0,.75);
  color: white;
  border-radius: 5px;
  padding: 50px;
  margin-top: 50px;
}

.grey {
  color: #777;
  a {
    color: $white;
  }
}

.alert {
  padding: 10px;
  margin: 30px 0;
  color: white;
  border-radius: 5px;
}

//Alert
.success {
  background-color: green;
}

.error {
  background-color: red;
}
//
.container {
  width: 1000px;
  margin: 0 auto;
}

@media all and (min-width: 1031px) {
  nav{
    padding: 2rem!important;
    .nav-link{
      font-size: 1.5rem;
    }
  }
}

@media all and (max-width: 1150px) {
  .container { width: 800px; }
  nav{
    padding: 1.5rem!important;
    .nav-link{
      font-size: 1.2rem;
    }
  }
}

@media all and (max-width: 830px) {
  .container { width: 580px; }
  header { text-align: center; padding-left: 20px; }
  nav{
    padding: 1rem!important;
  }
}


//Navbar

header{
  padding-left: 0;
  //button{
  //  background-color: $black!important;
  //  border-color: $black !important;

  //}
}
nav{
  color: $white;
  li,a {
    color: $white;
      :hover{
              color: $main-color!important;
            }
    }
  .navbar-toggler {
    background-color: $black;
    border-color: $grey;
    i{
      color: $white;
    }

  }
  #user-name{
    font-size: 1.5rem;
    margin-bottom: 0;
  }


  #search-container{
    margin-bottom: 0!important;
  }

  .dropdown-menu {
    background-color: $bcknd-clr;
    a {
      color: $white;
      :hover{
        color: $main-color!important;
        background-color: $bcknd-clr;
      }
    }
    .dropdown-item &:hover{
      background-color: transparent!important;
    }
  }
}
//header{
//
//  #brand img {
//    height: 45px;
//  }
//  background-color: rgba(0,0,0,.7);
//  padding: 30px;
//  //margin-bottom: 100px;
//
//  background-size:cover;
//  display:flex;
//  flex-direction:column;
//  nav{
//    color:$white;
//    display:flex;
//    align-items:center;
//    #logo{
//      width:6.5em;
//      margin-right:2em;
//    }
//    .left-menu{
//      display:flex;
//      align-items:baseline;
//      p, a{
//        font-size: 18px;
//        color: $white;
//        text-decoration: none;
//        cursor:pointer;
//        margin:0 1em;
//        &:hover{
//          color:$main-color;
//        }
//      }
//      i{
//        text-decoration: none;
//      }
//    }
//    .right-menu{
//      display:flex;
//      justify-content:space-between;
//      align-items:center;
//      margin-left:auto;
//      h5{
//        cursor:pointer;
//        &:hover{
//          color:$main-color;
//        }
//      }
//      .fa-search{
//        margin-right:.50em;
//      }
//      .user{
//        display:flex;
//        align-items:center;
//        margin:0 19px 15px;
//        img{
//          width:3em;
//          height:3em;
//          margin-right:1em;
//        }
//      }
//      .logout i{
//        color: $white;
//        margin-left: 10px;
//      }
//    }
//  }
//}


//Home page
main{
  background:$main-bck;
  padding:.60em 1em 2em;
  section{
    padding-bottom:1em;
    h3{
      margin:0;
      font-weight:200;
      color:$white;
      font-size:1.8em
      //font-size:.98em;
    }
    .multiple-items{
      position:relative;
      margin:1em 0;
      .fa-chevron-left{
        cursor:pointer;
        font-size:1.2em;
        color:$main-color;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        z-index:100;
        width:40px;
        background:linear-gradient(to right, rgba($black,.9),rgba($black,.8));
        display:flex;
        justify-content:center;
        align-items:center;
      }
      .fa-chevron-right{
        cursor:pointer;
        color:$main-color;
        position:absolute;
        right:0;
        top:0;
        bottom:0;
        z-index:100;
        width:40px;
        background:linear-gradient(to right, rgba($black,.9),rgba($black,.8));
        display:flex;
        justify-content:center;
        align-items:center;
      }
      img{
        margin:0 .15em;
        &:focus{
          outline-color:$main-color;
        }
      }
    }
    .tv-shows{
      position:relative;
      .fa-chevron-left{
        cursor:pointer;
        font-size:1.2em;
        color:$main-color;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        z-index:100;
        width:40px;
        background:linear-gradient(to right, rgba($black,.9),rgba($black,.8));
        display:flex;
        justify-content:center;
        align-items:center;
      }
      .fa-chevron-right{
        cursor:pointer;
        color:$main-color;
        position:absolute;
        right:0;
        top:0;
        bottom:0;
        z-index:100;
        width:40px;
        background:linear-gradient(to right, rgba($black,.9),rgba($black,.8));
        display:flex;
        justify-content:center;
        align-items:center;
      }
      img{
        height:17em;
        margin:.50em .10em;
        &:focus{
          outline-color:$main-color;
        }
      }
    }
  }
}
.thumbnail {
  height: 142px;
  width: 252px;
}

//MovieView page

.description{
  color: $grey;
}

span{
  font-size: 1.5rem;
}
.red-star {
  color: $main-color;
}
.grey-star {
  color: $grey;
}

.infos{
    margin-bottom: 0;
    font-size: 1.2rem;
    color: $grey;
}

iframe {
  position: relative;
  height: 100%; width: 100%;
}

.category{
  border: solid;
  border-radius: 5px;
  padding: 2px;
}

//ErrorPage
.backlink{
  color: $white;
    text-decoration: none;
    cursor:pointer;
    margin:0 1em;
    &:hover{
      color:$main-color;
      text-decoration: none;

    }

}

//List page
.img-list img{
  max-width: 200px;
  max-height: 142px;
}