*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: arial;
  height: 100%;
  color: #919191;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("../img/site/background.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100%;
}

header #brand img {
  height: 45px;
}

footer {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
}

footer p {
  margin-top: 0;
  color: #919191;
}
footer a {
  font-size: 0.7em;
  color: #919191;
  text-decoration: none;
  margin-right: 50px;
}
footer a :hover {
  text-decoration: underline;
}

a {
  color: white;
  text-decoration: none;
}
a :hover {
  text-decoration: underline;
}

section {
  flex-grow: 1;
}

h1 {
  font-size: 2em;
  margin: 0 0 30px 0;
}

input[type=email], input[type=password], input[type=text] {
  padding: 15px;
  width: 100%;
  font-size: 1em;
  border: 0;
  border-radius: 5px;
  color: #b3b3b3;
  background-color: #333333;
  margin-bottom: 15px;
}

button {
  background-color: #E50914;
  color: white;
  padding: 15px;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

#option {
  color: #b3b3b3;
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-size: 0.9em;
}

#login-body {
  max-width: 450px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  border-radius: 5px;
  padding: 50px;
  margin-top: 50px;
}

.grey {
  color: #777;
}

.alert {
  padding: 10px;
  margin: 30px 0;
  color: white;
  border-radius: 5px;
}

.success {
  background-color: green;
}

.error {
  background-color: red;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

@media all and (max-width: 1030px) {
  .container {
    width: 800px;
  }
}
@media all and (max-width: 830px) {
  .container {
    width: 580px;
  }

  header {
    text-align: center;
    padding-left: 20px;
  }
}
header {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
header nav {
  color: white;
  display: flex;
  align-items: center;
}
header nav #logo {
  width: 6.5em;
  margin-right: 2em;
}
header nav .left-menu {
  display: flex;
  align-items: baseline;
}
header nav .left-menu p, header nav .left-menu a {
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  margin: 0 1em;
}
header nav .left-menu p:hover, header nav .left-menu a:hover {
  color: #db0000;
}
header nav .left-menu i {
  text-decoration: none;
}
header nav .right-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}
header nav .right-menu h5 {
  cursor: pointer;
}
header nav .right-menu h5:hover {
  color: #db0000;
}
header nav .right-menu .fa-search {
  margin-right: 0.5em;
}
header nav .right-menu .user {
  display: flex;
  align-items: center;
  margin: 0 19px 15px;
}
header nav .right-menu .user img {
  width: 3em;
  height: 3em;
  margin-right: 1em;
}

main {
  background: #0a0a0a;
  padding: 0.6em 1em 2em;
}
main section {
  padding-bottom: 1em;
}
main section h3 {
  margin: 0;
  font-weight: 200;
  color: white;
  font-size: 0.98em;
}
main section .multiple-items {
  position: relative;
  margin: 1em 0;
}
main section .multiple-items .fa-chevron-left {
  cursor: pointer;
  font-size: 1.2em;
  color: #db0000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 40px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8));
  display: flex;
  justify-content: center;
  align-items: center;
}
main section .multiple-items .fa-chevron-right {
  cursor: pointer;
  color: #db0000;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  width: 40px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8));
  display: flex;
  justify-content: center;
  align-items: center;
}
main section .multiple-items img {
  margin: 0 0.15em;
}
main section .multiple-items img:focus {
  outline-color: #db0000;
}
main section .tv-shows {
  position: relative;
}
main section .tv-shows .fa-chevron-left {
  cursor: pointer;
  font-size: 1.2em;
  color: #db0000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 40px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8));
  display: flex;
  justify-content: center;
  align-items: center;
}
main section .tv-shows .fa-chevron-right {
  cursor: pointer;
  color: #db0000;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  width: 40px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8));
  display: flex;
  justify-content: center;
  align-items: center;
}
main section .tv-shows img {
  height: 17em;
  margin: 0.5em 0.1em;
}
main section .tv-shows img:focus {
  outline-color: #db0000;
}

.img-list {
  width: 100%;
}

.description {
  color: #919191;
}

span {
  font-size: 1.5rem;
}

.red-star {
  color: #db0000;
}

.grey-star {
  color: #919191;
}

.infos {
  margin-bottom: 0;
  font-size: 1.5rem;
  color: #919191;
}

iframe {
  position: relative;
  height: 100%;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
